@model Lab4.Models.Product

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Description" class="form-label"></label>
    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
</div>

<div class="mb-3">
    <label asp-for="PriceVnd" class="form-label"></label>
    <input asp-for="PriceVnd" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="ImageUrl" class="form-label"></label>
    <input asp-for="ImageUrl" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="SortOrder" class="form-label"></label>
    <input asp-for="SortOrder" class="form-control" />
</div>

<div class="form-check mb-3">
    <input asp-for="IsActive" class="form-check-input" />
    <label asp-for="IsActive" class="form-check-label"></label>
</div>
